.preto{
    background-color: black;
    color: white;
}
.marrom{
    background-color: brown;
    color: white;
}
.vermelho{
    background-color: red;
    color: white;
}
.laranja{
    background-color: orange;
    color: white;
}
.amarelo{
    background-color: yellow;
    color: black;
}
.verde{
    background-color: green;
    color: white;
}
.azul{
    background-color: blue;
    color: white;
}
.violeta{
    background-color: violet;
    color: white;
}
.cinza{
    background-color: gray;
    color: white;
}
.branco{
    background-color: white;
    color: black;
}
.dourado{
    background-color: gold;
    color: white;
}
.prata{
    background-color: silver;
    color: black;
}